@import "./mixins.less";


.navbar {
  background-color: #ffffff;
  .navbar-inner {
    .center {
      color: grey;
      font-weight: 400 !important;
    }
    .link {
      color: gray;
      .colored{
        color: #1a1a1a;
      }
      >i{
        color: gray;
      }
    }


  }
}